<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<div style="position: fixed; bottom: 0px;">
<p style="font-size:20px; color:white">&copy; Developed by {{author}}</p>
</div>
</div>
