{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <style>

      #foto{
        border-radius: 50%;
        width: 50%;
        height: 50%;
        text-align: center;
      }
    </style>
    <img id="foto" src="https://preview.ibb.co/mUtRUQ/97230024_copy.jpg" border="0"/>
    <h2>Bio</h2>
    <h1>Danang Joewono</h1>
    <hr/>
    <section name="bio">
        <p>
            {{content}}
        </p>
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
