<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->

<style>

.centered{
  text-align: center;
}

</style>

<p class="centered">© Developed by {{author}}</p>
