<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<div style="position: fixed; bottom: 0px;">
<div class="panel panel-default" style="margin: 0px;" >
  <div class="panel-body">
	&copy;Developed by {{author}}
  </div>
</div>
</div>
